/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/build/
/EnterpriseApplication1/EnterpriseApplication1-war/build/
/EnterpriseApplication1/build/
/EnterpriseApplication1/EnterpriseApplication1-war/dist/
/EnterpriseApplication1/EnterpriseApplication1-ejb/dist/
/EnterpriseApplication1/dist/
/Test/nbproject/private/
/Test/Test-war/nbproject/private/
/Test/Test-ejb/nbproject/private/
/Test/Test-ejb/build/
/Test/Test-war/build/
/Test/build/
/Test/Test-war/dist/
/Test/Test-ejb/dist/
/Test/dist/
/testEJB-/nbproject/private/
/testEJB-/testEJB--war/nbproject/private/
/testEJB-/testEJB--ejb/nbproject/private/
/calculator/nbproject/private/
/calculator/calculator-war/nbproject/private/
/calculator/calculator-ejb/nbproject/private/
/calculator/calculator-ejb/build/
/calculator/calculator-war/build/
/calculator/build/
/calculator/calculator-ejb/dist/
/calculator/calculator-war/dist/
/shout/nbproject/private/
/shout/shout-war/nbproject/private/
/shout/shout-ejb/nbproject/private/
/shout/shout-ejb/build/
/shout/shout-war/build/
/shout/build/
/shout/shout-ejb/dist/
/shout/shout-war/dist/
/shout/dist/
/shout-GUI-Client/nbproject/private/
/shout-GUI-Client/build/
/JavaApplication76/nbproject/private/
/JavaApplication77/nbproject/private/
/JavaApplication78/nbproject/private/
/JavaApplication78/build/
/Class3Ex1/nbproject/private/
/CountTime-GUI/nbproject/private/
/CountTime-interface/build/
/CountTime-interface/dist/
/CountTime-interface/nbproject/private/
/CountTime-GUI/build/
/CountTime-GUI/dist/
/elmira/CountTime-GUI1/nbproject/private/
/elmira/CountTime-GUI/build/
/elmira/CountTime-GUI/dist/
/Todo/nbproject/private/
/Todo/Todo-war/nbproject/private/
/Todo/Todo-ejb/nbproject/private/
/Todo-interface/nbproject/private/
/JavaApplication90/nbproject/private/
/JavaApplication91/nbproject/private/
/JavaApplication92/nbproject/private/
/JavaApplication92/build/
/todo1/nbproject/private/
/todo1/todo1-war/nbproject/private/
/todo1/todo1-ejb/nbproject/private/
/todo-GUI/nbproject/private/
/Todo/Todo-ejb/build/
/Todo/Todo-war/build/
/Todo/build/
/Todo/Todo-war/dist/
/Todo/Todo-ejb/dist/
/Todo-interface/build/
/Todo-interface/dist/
/todo-GUI/dist/
/todo-GUI/build/
/quiz/nbproject/private/
/quiz/quiz-war/nbproject/private/
/quiz/quiz-ejb/nbproject/private/
/quiz-interface/nbproject/private/
/quiz-GUI/nbproject/private/
/quiz-interface/build/
/quiz/quiz-ejb/build/
/quiz/quiz-ejb/dist/
/quiz-interface/dist/
/quiz/quiz-war/build/
/quiz/build/
/quiz/dist/
/quiz/quiz-war/dist/
/quiz-GUI/build/